* {
    font: "Arial", sans-serif;
    background-color: rgb(255, 196, 162);
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    padding: 32px;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    background-color: white;
}

.recipes {
    font-size: 24px;
    margin: 32px;
    background-color: white;
    border: 2px solid black;
    border-top: 0px;
}

.recipes a {
    margin: 32px 16px;
    background-color: white;
}

.recipe-title {
    color:rgb(131, 70, 0);
}

.link {
    background-color: white;
    color: blue;
}

img {
    margin: 32px;
}

body,
p,
li,
h3,
ul,
ol,
a {
    background-color: white;
    margin-left: 8px;
}

p {
    margin-left: 16px;

}

body {
    margin: 32px;
}